.features-container {
    width: 90%;
    margin: auto;
    padding: 50px 0px;
  }
  
  .feature-box {
    height: 150px;
    box-shadow: 2px 2px 20px rgb(216, 213, 213);
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px;
    background-color: white;
    text-align: center;
  }
  
  .feature-box:hover {
    background-color: #562dd4;
    background-image: linear-gradient(90deg, #1672de 0%, #071f6b 58%);
    color: #fff;
    transition: transform 0.6s cubic-bezier(0.2, 0.85, 0.4, 1.275);
  }
  
  .image img {
    width: 15%;
    transition: transform 0.6s;
  }
  
  .feature-box:hover .image img {
    transform: rotate(10deg);
  }
  
  /* h2{
    text-align: center;
    color: black; 
 font-family: "arial";
 font-size: 3em;
 margin: 10px 0 0 10px;
 white-space: nowrap;
 overflow: hidden;
 width: 100%;
 animation: animtext 4s steps(80, end); 
  transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
@keyframes animtext { 
 from {
     width: 0;
    transition: all 2s ease-in-out;
 } 
} */

